.amt {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}

.card-bg {
    background-color: #ebebeb;
}



.amt-card {
    width: 80%;
    height: 80%;
}

.chart-container {
    width: 100% !important;
    height: 100% !important;
}

.upper-card {
    height: 100%;
}

.lower-card {
    height: 336px;
}

.inc {
    color: #649e64d1;
    font-size: 22px;
    font-weight: 500;
}

.sub-text {
    font-size: 10px;
    color: dimgray;
}

.card-body {
    padding: 0 !important;
}